header.header {
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  
    h1 {
        font-size: 2rem;
        margin-top: 3rem;
        width: 50%;
    }
  
    & > h1, & > div, & > ul {
        z-index: 50;
        position: relative;
    }
  
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .7;
        z-index: 0;
    }
}

.leader {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}
  
.main-menu {
    list-style-type: none;
    padding: 0;
    margin: .7rem 0 1rem;
  
    li {
      display: inline-block;
      margin-right: 2rem;
    }
}
  
.phone {
    margin-left: auto;
    font-size: 1.75rem;
}