body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.nuxt-link-exact-active {
    color: #000000;
    opacity: .5;
}

.nuxt-link-active {
    color: #000000;
    font-weight: 600;
}

.page-title {
    display: block;
    font-size: 2.5rem;
    font-weight: normal;
    color: #ffffff;
}