header.header {
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(lg) {
        border-radius: 4px;
        overflow: hidden;
    }
  
    h1 {
        font-size: 1.5rem;
        margin-top: 1rem;
        
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
            margin-top: 3rem;
            width: 60%;
        }
    }
  
    & > h1, & > div, & > ul {
        z-index: 50;
        position: relative;
    }
  
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .7;
        z-index: 0;
    }
}

.leader {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

.logo {
    margin-left: 0;
    margin-right: 2rem;
    // width: 242px;

    a {
        display: block;
    }

    @include media-breakpoint-up(lg) {
        margin-left: -51px;
    }
}
  
.main-menu {
    list-style-type: none;
    padding: 0;
    margin: .2rem 0 .5rem;

    @include media-breakpoint-down(lg) {
        flex-grow: 1;
    }
  
    li {
      display: inline-block;
      margin-right: 1.25rem;
      padding: .5rem 0;
    }
}
  
.phone {
    margin-left: auto;
    padding-left: 2rem;
    font-size: 1.75rem;
    line-height: 1.2;
}